body{

	background-color: #232b2b;
}
img{
	width: 65%;
}
table{
	color: white;
	font-family: "Trebuchet MS";
	text-align: center;
	margin-right: auto;
	margin-left: auto;
	border-style: solid;
	border-radius: 5px;
	border-width: 2px;
}
th, td{
	height: 25px;
}
tr:nth-child(even){
	background-color: #414a4c;
}
.table-name{
	width: 85%;
}
.centre{
	/*For non-image elements*/
	text-align: center;
}
#centre{
	/*For image elements*/
	display: block;
	margin: auto;
	width: auto;
}
#centre-fixed{
	/*For image elements with the img width readjustment*/
	display: block;
	margin: auto;
	width: 65%;
}
.bordered{
	background-color: #353839;
	border-style: outset;
	border-radius: 5px;
	padding: 0px 10px 0px 10px;
	border-color: #3b444b;
	margin: auto;
	width: 75%;
}
.borderless{
	background-color: #232b2b;
}
p, h1, h2, h3, li{
	color: white;
	font-family: "Trebuchet MS";
}
a:link{
	color: #8fcc33;
	text-decoration: none;
	font-family: "Trebuchet MS";
}
a:visited{
	color: #8fcc33;
	text-decoration: none;
	font-family: "Trebuchet MS";
}
a:hover{
	color: #bce085;
	text-decoration: none;
	font-family: "Trebuchet MS";
}
ul{
	color: white;
}
footer{
	text-align: center;
}