body, .borderless{
	background-color: #232b2b;
}
img{
	width: 65%;
}
table{
	color: white;
	font-family: "Trebuchet MS";
	text-align: center;
	margin-right: auto;
	margin-left: auto;
	border-style: solid;
	border-radius: 5px;
	border-width: 0.125em;
}
th, td{
	height: 25px;
}
tr:nth-child(even){
	background-color: #414a4c;
}
th:nth-child(2), td:nth-child(2){
	width: 85%;
}
.centre, footer{
	/*For text elements*/
	text-align: center;
}
.centre-re{
	margin-left: auto;
	margin-right: auto;
}
img.centre, button.centre{
	display: block;
	width: auto;
	margin: auto;
}
img.centre-re{
	display: block;
	margin: auto;
}
div.strat img{
	width: auto;
}
p.hide{
	display: none;
}
div.bordered2 > div{
	display: flex;
	align-items: center;
}
div.bordered2 ul.strat{
	list-style: none;
}
div.bordered2 ul.strat span{
	color: #949499;
}
button.centre{
	padding: 10px 40px;
	font-size: 1em;
}
.bordered{
	background-color: #353839;
	border-style: outset;
	border-radius: 5px;
	padding: 0px 10px 0px 10px;
	border-color: #3b444b;
	margin: auto;
	width: 75%;
}
.bordered2{
	border-style: solid;
	border-radius: 5px;
	border-width: 2px;
	color: #7b7b7f;
	padding: 1%;
	width: 55%;
}
p, h1, h2, h3, li{
	color: white;
	font-family: "Trebuchet MS";
}
a:link, a:visited{
	color: #8fcc33;
	text-decoration: none;
	font-family: "Trebuchet MS";
}
a:hover{
	color: #bce085;
	text-decoration: none;
	font-family: "Trebuchet MS";
}
ul{
	color: white;
}